body {
  background-color: #fff;
  font-family: Roboto;
  font-weight: bold;
  font-size: 36px;
  text-transform: none;
  color: #333333;
  margin: 0px;
}

img {
  max-width: 100%;
  max-height: 100%;
}

.table {
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 10%;
  border-style: none;
}

.report {
  font-size: 18px;
  background-color: #f2f2f2;
  padding-top: 2%;
  padding-bottom: 2%;
}

.paragraph{
  margin-left: 15%;
  margin-right: 15%;
  font-size: 18px;
  text-align: center;
}

td {
  border-style: none;
}

.logo{
  padding-left: 6%;
  font-family: Roboto;
  font-size: 18px;
  padding-top: 1%;
  padding-bottom: 1%;
  vertical-align: middle;
}

.banner {
  background-color: #2f2f2f;
  font-family: Roboto;
  font-size: 18px;
  color: #ffffff;
  padding-top: 1%;
  padding-bottom: 1%;
}

.item {
  padding-left: 6%;
  font-family: Roboto;
  font-weight: 300;
  text-align: center;
  -webkit-transition:all 0.5  s;
  transition:all 0.5s;
  opacity:0.5;
}

.item:hover{
  opacity:1;
}

.selected {
  padding-left: 6%;
  font-family: Roboto;
  font-weight: 400;
  text-align: center;
}

.color {
  background-color: rgba(0, 0, 0, 1);
}

.background {
  background-image: url("Contact_Banner2.jpg");
  background-position:60% 91%;
  background-size: 115%;
  background-attachment: fixed;
}

.toptext {
  color: #ffffff;
  text-align: left;
  padding-left: 2%;
  padding-top: 8%;
  padding-bottom: 8%;
  opacity: 0.5;
  -webkit-transition: all 1s;
  transition: all 1s;
}

.toptext:hover {
  opacity: 1;
}

.textbox {
  background: #000;
  background-color: rgba(0, 0, 0, 0.6);
  padding: 2% 2%;
}

.title {
  padding-top: 3%;
  padding-bottom: 1%;
  text-align: center;
  font-family: Roboto;
  font-size: 48px;
  font-weight: 100;
}

.Sub {
  font-family: Roboto;
  font-style: italic;
  padding-bottom: 1%;
  text-align: center;
  font-size: 18px;
}

.footer {
  background-color: #2f2f2f;
  font-family: Roboto;
  font-weight: 100;
  font-size: 12px;
  color: #ffffff;
  padding-left: 15%;
  vertical-align: middle;
  padding-top: 1%;
  padding-bottom: 1%;
}


a {
  color: white;
  font-style: normal;
  text-decoration: none;
}

p {
  margin-left: 15%;
  margin-right: 15%;
  text-align: center;
  font-family: Roboto;
  font-size: 18px;
}

hr {
  margin-left: 17%;
  margin-right: 20%;
  align: middle;
  border-width: 1px;
  width: 66%;
}

h1 {
  margin-left: 15%;
  margin-right: 15%;
  text-align: left;
  font-family: Roboto;
  font-size: 18px;
}

h2 {
  margin-left: 15%;
  margin-right: 15%;
  text-align: left;
  font-family: Roboto;
  font-size: 18px;
}
